.project-card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 10px 15px -3px var(--secondary-color);
  background-color: var(--background-color);
}

.project-lang {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.project-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-group {
  margin-bottom: auto;
}

.project-info {
  display: flex;
  gap: 24px;

  .fork-count {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .watch-count {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .project-footer {
    flex-direction: column;
    gap: 4px;
  }
}
