.row-card-container {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  padding: 16px;
  min-height: 220px;
  box-shadow: 0 10px 15px -3px;
  background-color: white;

  .right-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media only screen and (max-width: 1024px) {
  .row-card-container {
    flex-direction: column;
  }
}
