.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 6px;
  padding: 16px;
  background-color: var(--card-bg);
  box-shadow: 0 10px 15px -3px var(--secondary-color);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 14px;
  }
}
