:root {
  --background-color: #ffffff;
  --text-color: #2c3d55;
  --primary-color: #3e4c5e;
  --secondary-color: #536271;
  --accent-color: #e6e5e5;

  --button-bg: var(--primary-color);
  --button-hover-bg: var(--secondary-color);
  --button-text: #ffffff;
  --card-bg: #f8f9fa;
  --card-border: var(--secondary-color);
  --link-color: var(--primary-color);

  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* [data-theme="dark"] {
  --background-color: #2C3D55;
  --text-color: #ffffff;
  --primary-color: #E6E5E5;
  --secondary-color: #536271;
  --accent-color: #3E4C5E;

  --button-bg: var(--primary-color);
  --button-text: var(--text-color);
  --card-bg: #3E4C5E;
  --card-border: var(--accent-color);
  --link-color: var(--accent-color);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2c3d55;
    --text-color: #ffffff;
    --primary-color: #e6e5e5;
    --secondary-color: #536271;
    --accent-color: #3e4c5e;

    --button-bg: var(--secondary-color);
    --button-text: var(--text-color);
    --card-bg: #3e4c5e;
    --card-border: var(--accent-color);
    --link-color: var(--accent-color);
  }
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

h3 {
  margin: unset;
}

h5 {
  margin: unset;
}

p {
  margin: unset;
  font-size: 12px;
}

ul {
  margin: unset;
  padding-left: 15px;
}

a {
  text-decoration: unset;
  color: #4493f8;
}

a:hover {
  text-decoration: underline;
}
